In [23]:
import pandas as pd

In [19]:
import warnings
with warnings.catch_warnings(record=True):
    warnings.simplefilter("always")
    myexcelfile = pd.read_excel('asdq.xlsx', engine="openpyxl")

In [20]:
df = pd.read_excel('asdq.xlsx')

In [21]:
df.iloc[0:]

    1   2   3  Unnamed: 3
0   4   5   6         NaN
1   7   8   9         NaN
2  10  11  12         NaN

In [15]:
line = pd.DataFrame({3:"asdasd"}, index=[2])

In [16]:
row_number = 1

In [17]:
line = pd.DataFrame({'asd':"sdfsdf", 
                     "asd.1":'654654'}, index=[row_number])
df2 = pd.concat([df.iloc[:row_number+1], line, df.iloc[row_number+1:]]).reset_index(drop=True)
print(df2)

NameError: name 'df' is not defined

In [29]:
line = pd.DataFrame({1: 30.0, 2: 1.3}, index=[3])
pd.concat([df.iloc[:3], line, df.iloc[3:]]).reset_index(drop=True)

      1     2     3  Unnamed: 3
0   4.0   5.0   6.0         NaN
1   7.0   8.0   9.0         NaN
2  10.0  11.0  12.0         NaN
3  30.0   1.3   NaN         NaN

In [26]:
df2

      1     2     3  Unnamed: 3  onset  length
0   4.0   5.0   6.0         NaN    NaN     NaN
1   7.0   8.0   9.0         NaN    NaN     NaN
2   NaN   NaN   NaN         NaN   30.0     1.3
3  10.0  11.0  12.0         NaN    NaN     NaN